# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Expo
.expo/
.expo-shared/
dist/
web-build/
*.pem
expo-env.d.ts

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Android/iOS native
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.android/
.kotlin/
ios/Pods/
android/.gradle/
android/app/build/
ios/build/

# Env
.env
.env.*
.env*.local

# Local test/example files
app-example

# VSCode
.vscode/*
!.vscode/settings.json